---
import Welcome from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
import Carrousel from '../components/carrousel.astro';
import Card from '../components/tarjetas.astro'
import AboutUs from '../components/aboutus.astro'
import Contacto from '../components/contacto.astro'
import Footer from '../components/footer.astro'


// otros imports
import bolso from '../images/bolso.jpg'
import riñonera from '../images/riñonera.jpg'
import riñoneracuadrada from '../images/riñoneracuadrada.jpg'
import morral from '../images/morral.jpg'
---

<Layout>
	<Welcome />
	<Carrousel/>
	<div class="flex justify-center text-center m-20">
		<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Nuestros<mark class="px-2 text-white bg-amber-600 rounded dark:bg-blue-500">Productos</mark></h1>
	</div>
	<div class="justify-center m-5 flex gap-6">

	<Card nombreProd='Bolsos / ToteBags' descripcion='Bolso tote hecho con retazos de tela reciclada en tonos negro y denim, con un diseño de bloques geométricos. Forro azul llamativo y asas de cinta negra resistentes. Práctico, único y sostenible.' link='https://drive.google.com/drive/folders/1yiqzwRuFCKcjespkH7ta-dUSd-Za0jCk' imagen={bolso.src} precio={15000} apiwsp='https://api.whatsapp.com/send?phone=5492646703559&text=Hola!,%20quiero%20hacerte%20una%20consulta%20sobre%20'/>
	<Card nombreProd='Riñonera medialuna' descripcion='Riñonera en forma de medialuna, confeccionada con tela reciclada. Su diseño compacto es ideal para llevar lo esencial, como llaves, billetera y celular. Cuenta con una correa ajustable para mayor comodidad y un cierre seguro que protege tus pertenencias.' link='https://drive.google.com/drive/folders/1Wi9OU5Q66oFtrFWbrBxu8GYrNCJE4t4a' imagen={riñonera.src} precio={10000}/>
	<Card nombreProd='Riñonera rectangular' descripcion='Hecha con materiales reciclados y combinaciones de colores sobrios que le dan un toque único. Tiene un diseño práctico con cierre superior y correa regulable, perfecta para usar cruzada o a la cintura. Ideal para actividades cotidianas o salidas informales.' link='https://drive.google.com/drive/folders/1Wi9OU5Q66oFtrFWbrBxu8GYrNCJE4t4a' imagen={riñoneracuadrada.src} precio={12000}/>
	<Card nombreProd='Morral' descripcion='Morral de diseño funcional y moderno, elaborado con tela reciclada en bloques de color. Incluye un compartimento principal espacioso con cierre y una correa ajustable para llevarlo al hombro o cruzado. Es perfecto para llevar libros, celular u otros objetos personales, con estilo y responsabilidad ambiental.' link='https://drive.google.com/drive/folders/1_6N3jo5BeMhMaG4IEKRg_X8HD32NoX7t' imagen={morral.src} precio={15000}/>
	</div>	
	<div class="flex justify-center h-40 m-10 p-10">
		<p class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
			y mucho más...
		</p>
	</div>
	<AboutUs/>
	<Contacto/>
	<Footer/>

</Layout>
